


  body {
    background-color: aqua;
    border: 100px;
  }

h2{
    text-align: left;
    color: blue;
}
.bouncing-box {
  width: 50px;
  height: 50px;
  background-color: bisque;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite;

}
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
nav {
  background-color: pink;
  color: yellowgreen;
  padding: 40px;
  text-align: center;
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;

  }
}
.Hobbies {
  background-color: #444;
  color: rgb(53, 53, 118);
  padding:  30px;
  display: flexbox;
  
}
