


  body {
    background-color: aqua;
    border: 100px;
  }

h2{
    text-align: left;
    color: blue;
}
table {
    width: 100%;

}
th,td{color: black;
    text-align: center;
    border: 2px solid yellow;
    padding: 4px;
    background-color: brown;

}
.bouncing-box {
  width: 50px;
  height: 50px;
  background-color: bisque;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite;

}